.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.heading{
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    align-items: center;
}

.input{
    width: 50vw;
    height:3vh;
    
    border-radius: 5px 0 0 5px;
    display: inline-block;
}
.btn{
    width:10vh;
    height:4vh;
    display: inline-block;
    border-radius: 0 5px 5px 0;
    margin-left: -1vw;
}